<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- head -->
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>GuiForum后台</title>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/pace/pace.min.css}">
    <link rel="stylesheet" th:href="@{/css/AdminLTE.min.css}">
    <link rel="stylesheet" th:href="@{/css/skins/_all-skins.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css?version=2.0.1}">
    <link rel="stylesheet" th:href="@{/css/loader.css}">
    <link rel="stylesheet" th:href="@{/plugins/toast/css/jquery.toast.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/pretty-checkbox/pretty-checkbox.min.css}">
    <!--    &lt;!&ndash;[if lt IE 9]>-->
    <!--    <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
    <!--    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <!--    <![endif]&ndash;&gt;-->
    <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/plugins/bootstrapStyle/bootstrapStyle.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-fileinput/css/fileinput.min.css}">

    <script type="text/javascript" src="https://cdn.bootcss.com/zTree.v3/3.5.33/js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/zTree.v3/3.5.33/js/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/zTree.v3/3.5.33/js/jquery.ztree.exedit.js"></script>
<!--    <script th:src="@{/plugins/tinymce/tinymce.min.js}"></script>-->
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>

<!-- 顶部菜单栏 -->
<header class="main-header" th:fragment="main-header">
    <a th:href="@{/admin}" class="logo">
        <span class="logo-mini"><b>R</b>A</span>
        <span class="logo-lg">GuiForum</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li>
                    <a th:href="@{/index}" title="前往前台" target="_blank"><i class="fa fa-location-arrow"></i></a>
                </li>
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img th:src="${loginUser.avatar}" class="user-image loginUserAvatar" alt="User Image">
                        <span class="hidden-xs loginUserDisplayName" th:text="${loginUser.username}">管理员</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img th:src="${loginUser.avatar}" class="img-circle loginUserAvatar" alt="User Image">
                            <p class="loginUserDisplayName" th:text="${loginUser.username}">管理员</p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left"><a data-pjax="true" th:href="@{/admin/user/profile}"
                                                      class="btn btn-default "><i class="fa fa-user"></i>个人资料</a></div>
                            <div class="pull-right"><a th:href="@{/logout}" class="btn btn-default "><i
                                    class="fa fa-sign-out"></i>登出</a></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- 左侧菜单栏模块 -->
<aside class="main-sidebar" th:fragment="sidebar(n)">
    <section class="sidebar">
        <!-- user information -->
        <div class="user-panel">
            <div class="pull-left image">
                <img th:src="${loginUser.avatar}" class="img-circle loginUserAvatar" style="width: 45px;height: 45px;" alt="User Image">
            </div>
            <div class="pull-left info">
                <p class="loginUserDisplayName" th:text="${loginUser.username}">管理员</p>
                <a th:href="@{/admin/user/profile}"><i class="fa fa-circle text-success"></i>个人资料</a>
            </div>
        </div>

        <!-- search -->
        <form th:action="@{/admin/search}" method="get" target="_blank" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="keyword" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                  <button type="submit" name="keyword" id="search-btn" target="_blank" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
            </div>
        </form>

        <!-- 左侧菜单栏 -->
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">HEADER</li>
            <li th:classappend="${n==1} ? 'active'">
                <a data-pjax="true" th:href="@{/admin}"><i class="fa fa-dashboard"></i><span>首页</span></a>
            </li>
            <li class="treeview" th:classappend="${n==2} ? 'active'">
                <a data-pjax="true" href="#"><i class="fa fa-paint-brush"></i><span>文章管理</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                <ul class="treeview-menu">
                    <li>
                        <a data-pjax="true" th:href="@{/admin/post}"><i class="fa fa-circle-o"></i>文章列表</a>
                    </li>
                    <li>
                        <a data-pjax="true" th:href="@{/admin/post/new}"><i class="fa fa-circle-o"></i>发布文章</a>
                    </li>
                </ul>
            </li>
            <li th:classappend="${n==3} ? 'active'">
                <a data-pjax="true" href="/admin/category"><i class="fa fa-book"></i><span>分类管理</span></a>
            </li>
            <li th:classappend="${n==4} ? 'active'">
                <a data-pjax="true" href="/admin/tag"><i class="fa fa-tag"></i><span>标签管理</span></a>
            </li>
            <li class="treeview" th:classappend="${n==5} ? 'active'">
                <a data-pjax="true" href="/admin/comment"><i class="fa fa-comment"></i><span>评论管理</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                <ul class="treeview-menu">
                    <li>
                        <a data-pjax="true" href="/admin/comment"><i class="fa fa-circle-o"></i>所有评论</a>
                    </li>
                    <li>
                        <a data-pjax="true" href="/admin/comment/send"><i class="fa fa-circle-o"></i>我的评论</a>
                    </li>
                    <li>
                        <a data-pjax="true" href="/admin/comment/receive"><i class="fa fa-circle-o"></i>回复我的</a>
                    </li>
                </ul>
            </li>
            <li th:classappend="${n==6} ? 'active'">
                <a data-pjax="true" href="/admin/report"><i class="fa fa-warning"></i><span>反馈管理</span></a>
            </li>
            <li th:classappend="${n==7} ? 'active'">
                <a data-pjax="true" href="/admin/photoCategory"><i class="fa fa-picture-o"></i><span>相册管理</span></a>
            </li>
            <li th:classappend="${n==8} ? 'active'">
                <a data-pjax="true" href="/admin/notice"><i class="fa fa-volume-up"></i><span>公告管理</span></a>
            </li>
            <li class="treeview" th:classappend="${n==9} ? 'active'">
                <a data-pjax="true" href="/admin/user"><i class="fa fa-user"></i><span>用户管理</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                <ul class="treeview-menu">
                    <li>
                        <a data-pjax="true" href="/admin/user"><i class="fa fa-circle-o"></i>用户列表</a>
                    </li>
                    <li>
                        <a data-pjax="true" href="/admin/user/new"><i class="fa fa-circle-o"></i>添加用户</a>
                    </li>
                </ul>
            </li>
            <li class="treeview" th:classappend="${n==10} ? 'active'">
                <a data-pjax="true" href="/admin/role"><i class="fa fa-snowflake-o"></i><span>角色管理</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                <ul class="treeview-menu">
                    <li>
                        <a data-pjax="true" href="/admin/role"><i class="fa fa-circle-o"></i>角色列表</a>
                    </li>
                    <li>
                        <a data-pjax="true" href="/admin/role/new"><i class="fa fa-circle-o"></i>添加角色</a>
                    </li>
                </ul>
            </li>
            <li class="treeview" th:classappend="${n==11} ? 'active'">
                <a data-pjax="true" href="/admin/permission"><i class="fa fa-podcast"></i><span>权限管理</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                <ul class="treeview-menu">
                    <li>
                        <a data-pjax="true" href="/admin/permission"><i class="fa fa-circle-o"></i>权限列表</a>
                    </li>
                    <li>
                        <a data-pjax="true" href="/admin/permission/new"><i class="fa fa-circle-o"></i>添加权限</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>

<!-- footer -->
<footer class="main-footer" th:fragment="footer">
    <div class="pull-right hidden-xs"><a href="#">2021</a></div>
    Thanks for using
    <strong><a data-pjax="true" href="#">GuiForum</a>.</strong>
</footer>

<th:block th:fragment="script">
    <script th:src="@{/plugins/pjax/jquery.pjax.js}"></script>
    <script th:src="@{/plugins/pace/pace.min.js}"></script>
    <script th:src="@{/js/adminlte.min.js}"></script>
    <script th:src="@{/plugins/toast/js/jquery.toast.min.js}"></script>
    <script th:src="@{/plugins/layer/layer.js}"></script>
    <script th:src="@{/plugins/bootstrap-fileinput/js/fileinput.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-fileinput/js/locales/zh.js}"></script>
    <script th:src="@{/js/app.js?version=2.0.1}"></script>
    <script>
        Pace.options = {
            restartOnRequestAfter: false
        };
        $(document).ajaxStart(function () {
            Pace.restart();
        });
        $(document).pjax('a[data-pjax=true]', '.content-wrapper', {
            fragment: '.content-wrapper',
            timeout: 8000
        });
        var heading = "提示";


    </script>
</th:block>