<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>GuiForum后台</title>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/pace/pace.min.css}">
    <link rel="stylesheet" th:href="@{/css/AdminLTE.min.css}">
    <link rel="stylesheet" th:href="@{/css/skins/_all-skins.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css?version=2.0.1}">
    <link rel="stylesheet" th:href="@{/css/loader.css}">
    <link rel="stylesheet" th:href="@{/plugins/toast/css/jquery.toast.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/pretty-checkbox/pretty-checkbox.min.css}">
    <!--    &lt;!&ndash;[if lt IE 9]>-->
    <!--    <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
    <!--    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <!--    <![endif]&ndash;&gt;-->
    <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/plugins/bootstrapStyle/bootstrapStyle.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-fileinput/css/fileinput.min.css}">

    <script type="text/javascript" src="https://cdn.bootcss.com/zTree.v3/3.5.33/js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/zTree.v3/3.5.33/js/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/zTree.v3/3.5.33/js/jquery.ztree.exedit.js"></script>
    <script th:src="@{/plugins/tinymce/tinymce.min.js}"></script>

</head>
<header class="main-header" th:fragment="main-header">
    <a th:href="@{/admin}" class="logo">
        <span class="logo-mini"><b>R</b>A</span>
        <span class="logo-lg">GuiForum</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- 顶部菜单栏 -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li>
                    <a th:href="@{/index}" title="前往前台" target="_blank"><i class="fa fa-location-arrow"></i></a>
                </li>
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img th:src="${loginUser.avatar}" class="user-image loginUserAvatar" alt="User Image">
                        <span class="hidden-xs loginUserDisplayName" th:text="${loginUser.username}">管理员</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img th:src="${loginUser.avatar}" class="img-circle loginUserAvatar" alt="User Image">
                            <p class="loginUserDisplayName" th:text="${loginUser.username}">管理员</p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left"><a data-pjax="true" th:href="@{/admin/user/profile}" class="btn btn-default "><i class="fa fa-user"></i>个人资料</a></div>
                            <div class="pull-right"><a th:href="@{/logout}" class="btn btn-default "><i class="fa fa-sign-out"></i>登出</a></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>