<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 引入head-->
<head th:replace="admin/header::head">
</head>
<body class="hold-transition sidebar-mini fixed skin-blue">
<!-- 引入页面头header -->
<header th:replace="admin/header::main-header"></header>

<div class="wrapper">
    <!-- 引入菜单栏模块 -->
    <div th:replace="admin/main-sidebar::sidebar(${path})"></div>

    <!-- 右侧主内容栏 -->
    <div class="content-wrapper">

        <!-- content-header -->
        <section class="content-header">
            <h1 style="display: inline-block;">首页</h1>
            <ol class="breadcrumb">
                <li>
                    <a data-pjax="true" th:href="@{/admin}">
                        <i class="fa fa-dashboard"></i> 首页</a>
                </li>
            </ol>
        </section>

        <!-- content -->
        <section class="content container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    欢迎访问GuiForum后台
                </div>
                <div class="col-xs-12"></div>
            </div>
        </section>

    </div>
</div>

<!-- 引入footer -->
<div th:replace="admin/footer::footer"></div>

<!--<script th:src="@{/plugins/pjax/jquery.pjax.js}"></script>-->
<!--<script th:src="@{/plugins/pace/pace.min.js}"></script>-->
<!--<script th:src="@{/js/adminlte.min.js}"></script>-->
<!--<script th:src="@{/plugins/toast/js/jquery.toast.min.js}"></script>-->
<!--<script th:src="@{/plugins/layer/layer.js}"></script>-->
<!--<script th:src="@{/plugins/bootstrap-fileinput/js/fileinput.min.js}"></script>-->
<!--<script th:src="@{/plugins/bootstrap-fileinput/js/locales/zh.js}"></script>-->
<!--<script th:src="@{/js/app.js?version=2.0.1}"></script>-->
<!--<script>-->
<!--    Pace.options = {-->
<!--        restartOnRequestAfter: false-->
<!--    };-->
<!--    $(document).ajaxStart(function () {-->
<!--        Pace.restart();-->
<!--    });-->
<!--    $(document).pjax('a[data-pjax=true]', '.content-wrapper', {-->
<!--        fragment: '.content-wrapper',-->
<!--        timeout: 8000-->
<!--    });-->
<!--    var heading = "提示";-->
<!--</script>-->
</body>
</html>
