<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 引入head-->
<head th:replace="admin/fragment::head">
</head>

<body class="hold-transition sidebar-mini fixed skin-blue">

<!-- 引入顶部菜单栏header -->
<header th:replace="admin/fragment::main-header"></header>

<div class="wrapper">

    <!-- 引入左侧菜单栏模块 -->
    <div th:replace="admin/fragment::sidebar(1)"></div>

    <!-- 右侧主内容栏 -->
    <div class="content-wrapper">

        <!-- content-header -->
        <section class="content-header">
            <h1 style="display: inline-block;">首页</h1>
            <ol class="breadcrumb">
                <li>
                    <a data-pjax="true" th:href="@{/admin}">
                        <i class="fa fa-dashboard"></i> 首页</a>
                </li>
            </ol>
        </section>

        <!-- content -->
        <section class="content container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    欢迎访问GuiForum后台
                </div>
                <div class="col-xs-12"></div>
            </div>
        </section>

    </div>
</div>

<!-- 引入footer -->
<div th:replace="admin/fragment::footer"></div>

<!--/*/<th:block th:replace="admin/fragment :: script">/*/-->
<!--/*/</th:block>/*/-->
</body>
</html>
