<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragment::head">
</head>

<body class="hold-transition sidebar-mini fixed skin-blue">

<!-- 顶部菜单栏 -->
<header th:replace="admin/fragment::main-header"></header>

<div class="wrapper">
    <!-- 左侧菜单栏模块 -->
    <aside th:replace="admin/fragment::sidebar(2)"></aside>

    <div class="content-wrapper">
        <style type="text/css" rel="stylesheet">
            #post-ul li {
                list-style: none;
                float: left;
                margin: 0;
                padding-bottom: 10px
            }

            .label {
                background-color: #d6cdcd;
            }

            .box-body {
                padding: 0;
            }

            .box {
                border-top: 0;
            }
        </style>
        <section class="content-header">
            <h1 style="display: inline-block;">文章管理</h1>
            <ol class="breadcrumb">
                <li>
                    <a data-pjax="true" th:href="@{/admin}">
                        <i class="fa fa-dashboard"></i> 首页</a>
                </li>
                <li><a data-pjax="true" href="#">文章管理</a></li>
                <li class="active">文章列表</li>
            </ol>
        </section>
        <section class="content container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <ul id="post-ul" style="list-style: none;padding-left: 0; vertical-align: center">
                        <li>
                            <a data-pjax="true" style="color: #000" href="?status=-1">全部</a> |&nbsp;
                        </li>
                        <li>
                            <a data-pjax="true" href="?status=0">已发布</a> |&nbsp;
                        </li>
                        <li>
                            <a data-pjax="true" href="?status=1">草稿</a> |&nbsp;
                        </li>
                        <li>
                            <a data-pjax="true" href="?status=3">已下架</a> |&nbsp;
                        </li>
                        <li>
                            <a data-pjax="true" href="?status=2">回收站</a>
                        </li>

                    </ul>
                </div>
                <div class="col-xs-12">
                    <div class="col-md-4 col-xs-12" style="margin-bottom: 10px;padding-left: 0;">
                        <a class="btn btn-primary" href="/admin/post/new">
                            <i class="fa fa-plus"></i> 新增
                        </a>
                        <button type="button" class="btn btn-danger" onclick="batchDelete()">
                            <i class="fa fa-remove"></i> 批量删除
                        </button>
                    </div>
                    <div class="col-md-8 col-xs-12"
                         style="margin-bottom: 10px; text-align:right;padding-left: 0; padding-right: 0;">
                        <form class="form-inline" action="/admin/post">
                            <div class="form-group">
                                <input type="text" class="form-control" id="keywords" name="keywords"
                                       value="" placeholder="请输入关键字">
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="status">
                                    <option value="0" disabled>状态</option>
                                    <option value="0">已发布</option>
                                    <option value="1">草稿</option>
                                    <option value="2">回收站</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="sort">
                                    <option value="createTime" disabled>排序字段</option>
                                    <option value="createTime">发布时间</option>
                                    <option value="postViews">访问量</option>
                                    <option value="commentSize">回复数</option>
                                    <option value="postLikes">点赞数</option>
                                    <option value="isSticky">是否置顶</option>
                                    <option value="isRecommend">是否推荐</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="order">
                                    <option value="desc" disabled>升序/降序</option>
                                    <option value="asc">升序</option>
                                    <option value="desc" selected="selected">倒序</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 搜索</button>
                        </form>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-body table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="allSelect" onclick="doCheck()"></th>
                                    <td>用户</td>
                                    <th class="col-md-5">标题</th>
                                    <th>状态</th>
                                    <th>日期</th>
                                    <th class="col-md-2">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr id="post-23">
                                    <td><input type="checkbox" name="ids" value="23"></td>
                                    <td>
                                        <a href="/user/9" target="_blank">zhaoyun</a>
                                    </td>
                                    <td>
                                        <a href="/post/23" target="_blank">
                                            <span class="font-success">【置顶】</span>
                                            <span class="font-warning">【推荐】</span>
                                            Twitter 如何应用 Druid 分析 ZB 级实时数据？
                                        </a>
                                    </td>
                                    <td>
                                        <span class="text-success">已发布</span>


                                    </td>
                                    <td>2021-02-24 18:32</td>
                                    <td>
                                        <a href="/admin/post/edit?id=23" class="btn btn-info btn-xs ">编辑</a>

                                        <button class="btn btn-success btn-xs " onclick="unStickIt(23)">取消置顶
                                        </button>

                                        <button class="btn btn-warning btn-xs " onclick="unRecommendIt(23)">取消推荐
                                        </button>

                                        <button class="btn btn-primary btn-xs " onclick="downIt(23)">下架
                                        </button>
                                        <button class="btn btn-danger btn-xs " onclick="throwIt(23)">
                                            丢弃
                                        </button>


                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer clearfix">
                            <div class="no-margin pull-left">
                                第 1 / 3 页
                            </div>
                            <ul class="pagination no-margin pull-right">
                                <li><a data-pjax="true" class="btn btn-sm disabled"
                                       href="/admin/post?status=-1&amp;searchType=&amp;keywords=&amp;sort=isSticky desc, createTime&amp;order=desc">
                                    首页
                                </a>
                                </li>
                                <li><a data-pjax="true" class="btn btn-sm disabled"
                                       href="/admin/post?status=-1&amp;page=0&amp;searchType=&amp;keywords=&amp;sort=isSticky desc, createTime&amp;order=desc">
                                    上一页
                                </a>
                                </li>
                                <li><a data-pjax="true" class="btn btn-sm"
                                       href="/admin/post?status=-1&amp;page=2&amp;searchType=&amp;keywords=&amp;sort=isSticky desc, createTime&amp;order=desc">
                                    下一页
                                </a>
                                </li>
                                <li><a data-pjax="true" class="btn btn-sm"
                                       href="/admin/post?status=-1&amp;page=3&amp;searchType=&amp;keywords=&amp;sort=isSticky desc, createTime&amp;order=desc">
                                    尾页
                                </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <script>

            function revertIt(id) {
                $.ajax({
                    type: 'POST',
                    url: '/admin/post/revert',
                    async: false,
                    data: {
                        'id': id
                    },
                    success: function (data) {
                        if (data.code == 0) {
                            showMsg(data.msg, "error", 1000);
                        } else {
                            showMsgAndReload(data.msg, "success", 2000);

                        }
                    }
                });
            }

            function downIt(id) {
                layer.confirm('请确认是否下架文章', function (index) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/post/down',
                        async: false,
                        data: {
                            'id': id
                        },
                        success: function (data) {
                            if (data.code == 0) {
                                showMsg(data.msg, "error", 1000);
                            } else {
                                showMsgAndReload(data.msg, "success", 2000);
                            }
                        }
                    });
                    layer.close(index);
                });
            }

            function throwIt(id) {
                layer.confirm('请确认是否删除', function (index) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/post/throw',
                        async: false,
                        data: {
                            'id': id
                        },
                        success: function (data) {
                            if (data.code == 0) {
                                showMsg(data.msg, "error", 1000);
                            } else {
                                showMsgAndReload(data.msg, "success", 2000);
                            }
                        }
                    });
                    layer.close(index);
                });
            }

            function removeIt(id) {
                layer.confirm('请确认是否删除', function (index) {
                    $.ajax({
                        type: 'DELETE',
                        url: '/admin/post/delete',
                        async: false,
                        data: {
                            'id': id
                        },
                        success: function (data) {
                            if (data.code == 0) {
                                showMsg(data.msg, "error", 1000);
                            } else {
                                showMsgAndReload(data.msg, "success", 2000);
                            }
                        }
                    });
                    layer.close(index);
                });
            }


            function batchDelete() {
                var arr = [];
                $('input[name="ids"]:checked').each(function () {
                    arr.push($(this).val());
                });
                if (arr.length <= 0) {
                    showMsg('请选择需要删除的数据', "error", 1000);
                } else {
                    layer.confirm('请确认是否删除', function (index) {
                        $.ajax({
                            url: "/admin/post/batchDelete?ids=" + arr,
                            type: "DELETE",
                            success: function (data) {
                                if (data.code == 0) {
                                    showMsg(data.msg, "error", 1000);
                                } else {
                                    showMsgAndReload(data.msg, "success", 2000);
                                }
                            }
                        });
                        layer.close(index);
                    });
                }
            }


            function stickIt(id) {
                $.ajax({
                    type: 'POST',
                    url: '/admin/post/stick',
                    async: false,
                    data: {
                        'id': id
                    },
                    success: function (data) {
                        if (data.code == 0) {
                            showMsg(data.msg, "error", 1000);
                        } else {
                            showMsgAndReload(data.msg, "success", 2000);

                        }
                    }
                });
            }

            function unStickIt(id) {
                $.ajax({
                    type: 'POST',
                    url: '/admin/post/unStick',
                    async: false,
                    data: {
                        'id': id
                    },
                    success: function (data) {
                        if (data.code == 0) {
                            showMsg(data.msg, "error", 1000);
                        } else {
                            showMsgAndReload(data.msg, "success", 2000);

                        }
                    }
                });
            }

            function recommendIt(id) {
                $.ajax({
                    type: 'POST',
                    url: '/admin/post/recommend',
                    async: false,
                    data: {
                        'id': id
                    },
                    success: function (data) {
                        if (data.code == 0) {
                            showMsg(data.msg, "error", 1000);
                        } else {
                            showMsgAndReload(data.msg, "success", 2000);

                        }
                    }
                });
            }


            function unRecommendIt(id) {
                $.ajax({
                    type: 'POST',
                    url: '/admin/post/unRecommend',
                    async: false,
                    data: {
                        'id': id
                    },
                    success: function (data) {
                        if (data.code == 0) {
                            showMsg(data.msg, "error", 1000);
                        } else {
                            showMsgAndReload(data.msg, "success", 2000);

                        }
                    }
                });
            }



        </script>
    </div>
</div>

<!-- 底部 -->
<div th:replace="admin/fragment::footer"></div>

<!--/*/<th:block th:replace="admin/fragment :: script">/*/-->
<!--/*/</th:block>/*/-->

</body>
</html>
