<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>GuiForum | 登录</title>
  <meta name="keywords" content="HTML5 Template">
  <meta name="description" content="Forum - Responsive HTML5 Template">
  <meta name="author" content="Forum">
  <link rel="shortcut icon" th:href="@{/front/favicon/favicon.ico}">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" th:href="@{/front/css/style.css}">
  <link rel="stylesheet" th:href="@{/front/css/main.css}">
  <link rel="stylesheet" th:href="@{/plugins/toast/css/jquery.toast.min.css}">
</head>
<body>
<!-- tt-mobile menu -->
<nav class="panel-menu" id="mobile-menu">
  <ul>

  </ul>
  <div class="mm-navbtn-names">
    <div class="mm-closebtn">
      Close
      <div class="tt-icon">
        <svg>
          <use xlink:href="#icon-cancel"></use>
        </svg>
      </div>
    </div>
    <div class="mm-backbtn">Back</div>
  </div>
</nav>
<main id="tt-pageContent" class="tt-offset-none">
  <div class="container">
    <div class="tt-loginpages-wrapper">
      <div class="tt-loginpages">
        <a th:href="@{/index}" class="tt-block-title">
          <img th:src="@{/front/images/logo.jpeg}" class="avatar" alt="">

          <div class="tt-title">
            欢迎访问GuiForum
          </div>
          <div class="tt-description">
            登录博客，记录成长！
          </div>
        </a>
        <form class="form-default">
          <div class="form-group">
            <label for="usernameOrEmail">用户名或电子邮箱</label>
            <input type="text" name="usernameOrEmail" class="form-control" id="usernameOrEmail">
          </div>
          <div class="form-group">
            <label for="password">密码</label>
            <input type="password" name="password" class="form-control" id="password">
          </div>
          <div class="form-group has-feedback">
            <input type="text" class="form-control pull-left margin-r-5" name="kaptcha" id="kaptcha"
                   style="width: 50%;"
                   placeholder="验证码">
            <img id="kaptcha1" th:src="@{/kaptcha}" width="80" height="34"
                 class="captcha changeCaptcha pull-left margin-r-5" alt="验证码"/>
            <a href="javascript:refresh_kaptcha();" class="changeCaptcha">换一张</a>
            <div class="clear"></div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <div class="checkbox-group">
                  <input type="checkbox" id="rememberMe" name="rememberMe">
                  <label for="rememberMe">
                    <span class="check"></span>
                    <span class="box"></span>
                    <span class="tt-text">记住我</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <a href="#" id="btn-login" class="btn btn-secondary btn-block">登录</a>
          </div>
          <p><a th:href="@{/register}" class="tt-underline">注册</a> | <a th:href="@{/forget}" class="tt-underline">忘记密码</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</main>
<script th:src="@{/front/js/bundle.js}"></script>
<script th:src="@{/plugins/toast/js/jquery.toast.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/login.js}"></script>
<div class="jq-toast-wrap" style="left: 595px; top: 20px;">
  <div class="jq-toast-single jq-has-icon jq-icon-error" style="text-align: left; display: none;">
    <span class="jq-toast-loader jq-toast-loaded" style="-webkit-transition: width 0.6s ease-in;-o-transition: width 0.6s ease-in;transition: width 0.6s ease-in;background-color: #ffffff;"></span>
    <span class="close-jq-toast-single">×</span>
    <h2 class="jq-toast-heading">提示</h2>
    请输入完整信息！
  </div>
</div>
</body>
</html>