<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- head -->
<head th:replace="home/fragment::head"></head>

<body>

<!-- tt-mobile menu -->
<nav th:replace="home/fragment::mobile-menu"></nav>

<!-- header -->
<header id="tt-header" th:replace="home/fragment::header(1)"></header>

<main id="tt-pageContent">
    <div class="container">
        <div class="tt-single-topic-list">
            <div class="tt-item">
                <div class="tt-single-topic">
                    <div class="tt-item-header">
                        <!-- 用户信息及帖子发布时间-->
                        <div class="tt-item-info info-top">
                            <!-- 用户头像 -->
                            <div class="tt-avatar-icon">
                                <a href="/user/9">
                                    <img th:src="${user.avatar}" class="avatar" alt="">
                                </a>
                            </div>
                            <!-- 用户名 -->
                            <div class="tt-avatar-title">
                                <a href="/user/9" th:text="${user.username}">zhaoyun</a>
                            </div>
                            <!-- 博客时间 -->
                            <a href="#" class="tt-info-time">
                                <i class="tt-icon">
                                    <svg>
                                        <use xlink:href="#icon-time"></use>
                                    </svg>
                                </i><span th:text="${time}">5月前</span>
                            </a>
                        </div>

                        <!-- 帖子标题 -->
                        <h3 class="tt-item-title">
                            <a href="#"><span th:utext="${post.title}">Twitter 如何应用 Druid 分析 ZB 级实时数据？</span></a>
                        </h3>

                        <!-- 分类、标签 -->
                        <div class="tt-item-tag">
                            <ul class="tt-list-badge">
                                <!-- 分类 -->
                                <li>
                                    <a href="/category/9"><span class="tt-color03 tt-badge" th:text="${category.name}">后端开发</span></a>
                                </li>
                                <!-- 标签 -->
                                <li th:each="item:${tags}">
                                    <a th:href="@{/tag/${item.id}}"><span class="tt-badge" th:text="${item.name}">Twitter</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- 帖子内容 -->
                    <div class="tt-item-description" th:utext="${post.content}">
                        <p>InfoQ：在 Twitter 里，您们定制了关于 Druid 的哪些开发功能？（与开源版本不同的功能）</p>
                    </div>

                    <!-- 投诉反馈 -->
                    <div style="text-align: center;">
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#reportModal">投诉反馈</a> &nbsp;&nbsp;

                        <!--                            分享给好友-->
                        <!--                            <div id="share-qrcode" title="二维码分享"></div>-->
                        <!--                            <div id="share-sina" title="新浪微博分享"></div>-->
                        <!--                            <div id="share-qq" title="QQ好友分享"></div>-->
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>

            <!-- 统计信息 -->
            <div class="tt-item">
                <div class="tt-info-box" id="tt-info-box">
                    <h6 class="tt-title">统计信息</h6>
                    <div class="tt-row-icon">
                        <div class="tt-item">
                            <a href="javascript:void(0)" class="tt-icon-btn tt-position-bottom" target="点击数">
                                <i class="tt-icon">
                                    <svg>
                                        <use xlink:href="#icon-view"></use>
                                    </svg>
                                </i>
                                <span class="tt-text">26</span>
                            </a>
                        </div>
                        <div class="tt-item">
                            <a href="#commentForm" class="tt-icon-btn tt-position-bottom" title="评论">
                                <i class="tt-icon">
                                    <svg>
                                        <use xlink:href="#icon-reply"></use>
                                    </svg>
                                </i>
                                <span class="tt-text" th:text="${post.commentCount}">3</span>
                            </a>
                        </div>
                        <div class="tt-item">
                            <a href="javascript:void(0)" data-id="23"
                               class="tt-icon-btn tt-position-bottom post-like">
                                <i class="tt-icon">
                                    <svg>
                                        <use xlink:href="#icon-like"></use>
                                    </svg>
                                </i>
                                <span class="tt-text">1</span>
                            </a>
                        </div>
                        <!--                        <div class="tt-item">-->
                        <!--                            <a href="javascript:void(0)" data-id="23"-->
                        <!--                               class="tt-icon-btn tt-position-bottom post-dislike" title="点踩">-->
                        <!--                                <i class="tt-icon">-->
                        <!--                                    <svg>-->
                        <!--                                        <use xlink:href="#icon-dislike"></use>-->
                        <!--                                    </svg>-->
                        <!--                                </i>-->
                        <!--                                <span class="tt-text">0</span>-->
                        <!--                            </a>-->
                        <!--                        </div>-->
                        <div class="tt-item">
                            <a href="javascript:void(0)" data-id="23" title="收藏"
                               class="tt-icon-btn tt-position-bottom post-mark">
                                <i class="tt-icon">
                                    <svg>
                                        <use xlink:href="#icon-favorite"></use>
                                    </svg>
                                </i>
                                <span class="tt-text">0</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 未登录不能评论提示 -->
            <div class="tt-topic-list">
                <div class="tt-item tt-item-popup">
                    <div class="tt-col-avatar">
                        <img src="/static/images/notlogin.jpeg" class="avatar" alt="">
                    </div>
                    <div class="tt-col-message">
                        检测到您未登录，需要先登录才能回复哦！
                    </div>
                    <div class="tt-col-btn">
                        <a type="button" href="/login" class="btn btn-primary">登录</a>
                        <a type="button" href="/register" class="btn btn-secondary">注册</a>
                    </div>
                </div>
            </div>

            <!-- 一次评论 -->
            <div class="tt-item">
                <div class="tt-single-topic">
                    <!-- 评论人的用户信息 -->
                    <div class="tt-item-header pt-noborder">
                        <div class="tt-item-info info-top">
                            <!-- 头像 -->
                            <div class="tt-avatar-icon">
                                <img src="/static/images/avatar/1.jpeg" class="avatar" alt="">
                            </div>
                            <!-- 用户名 -->
                            <div class="tt-avatar-title">
                                <a href="/user/1" id="comment-20-user">管理员</a>
                            </div>
                            <!-- 评论时间 -->
                            <a href="#" class="tt-info-time">
                                <i class="tt-icon">
                                    <svg>
                                        <use xlink:href="#icon-time"></use>
                                    </svg>
                                </i>4月前
                            </a>
                        </div>
                    </div>

                    <!-- 评论框 -->
                    <div class="tt-item-description">
                        测试评论！
                        <!-- 回复 -->
                        <div class="topic-inner-list">
                            <div class="topic-inner">
                                <!-- 回复人的用户信息 -->
                                <div class="topic-inner-title">
                                    <div class="topic-inner-avatar">
                                        <img src="/static/images/avatar/1.jpeg" id="comment-21-user"
                                             class="avatar" alt="">
                                    </div>
                                    <div class="topic-inner-title"><a href="/user/1">管理员</a>
                                    </div>
                                </div>
                                <!-- 回复内容 -->
                                <div class="topic-inner-description"><a href='#comment-id-21'>@管理员</a> 管理员: 回复评论！</div>
                            </div>
                        </div>
                    </div>

                    <!-- 对评论的点赞、回复 -->
                    <div class="tt-item-info info-bottom">
                        <a href="javascript:void(0)" data-id="21" class="tt-icon-btn comment-like">
                            <i class="tt-icon">
                                <svg>
                                    <use xlink:href="#icon-like"></use>
                                </svg>
                            </i>
                            <span class="tt-text">1</span>
                        </a>
                        <!--                        <a href="javascript:void(0)" data-id="21" class="tt-icon-btn comment-dislike">-->
                        <!--                            <i class="tt-icon">-->
                        <!--                                <svg>-->
                        <!--                                    <use xlink:href="#icon-dislike"></use>-->
                        <!--                                </svg>-->
                        <!--                            </i>-->
                        <!--                            <span class="tt-text">0</span>-->
                        <!--                        </a>-->

                        <a href="#comment" data-id="21"
                           class="tt-icon-btn tt-hover-02 tt-small-indent reply-btn">
                            <i class="tt-icon">
                                <svg>
                                    <use xlink:href="#icon-reply"></use>
                                </svg>
                            </i>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</main>

<!-- 投诉反馈弹出框 -->
<div class="modal fade show" id="reportModal" tabindex="-1" role="dialog" aria-label="myModalLabel"
     aria-modal="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="tt-modal-advancedSearch">
                <div class="tt-modal-title">
                    投诉反馈
                    <a class="pt-close-modal" href="#" data-dismiss="modal">
                        <svg class="icon">
                            <use xlink:href="#icon-cancel"></use>
                        </svg>
                    </a>
                </div>
                <form class="form-default" action="/">
                    <div class="form-group">
                        <input type="hidden" id="reportPostId" value="23">
                        <textarea class="form-control" id="reportContent" rows="3" placeholder="请输入投诉内容"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary btn-block post-report">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="js-popup-settings" class="tt-popup-settings" th:replace="home/fragment::popup-settings">
    <div class="tt-btn-col-close">
        <a href="#">
			<span class="tt-icon-title">
				<svg>
					<use xlink:href="#icon-settings_fill"></use>
				</svg>
			</span>
            <span class="tt-icon-text">
				Settings
			</span>
            <span class="tt-icon-close">
				<svg>
					<use xlink:href="#icon-cancel"></use>
				</svg>
			</span>
        </a>
    </div>
    <form class="form-default">
        <div class="tt-form-upload">
            <div class="row no-gutter">
                <div class="col-auto">
                    <div class="tt-avatar">
                        <svg>
                            <use xlink:href="#icon-ava-d"></use>
                        </svg>
                    </div>
                </div>
                <div class="col-auto ml-auto">
                    <a href="#" class="btn btn-primary">Upload Picture</a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="settingsUserName">Username</label>
            <input type="text" name="name" class="form-control" id="settingsUserName" placeholder="azyrusmax">
        </div>
        <div class="form-group">
            <label for="settingsUserEmail">Email</label>
            <input type="text" name="name" class="form-control" id="settingsUserEmail" placeholder="Sample@sample.com">
        </div>
        <div class="form-group">
            <label for="settingsUserPassword">Password</label>
            <input type="password" name="name" class="form-control" id="settingsUserPassword"
                   placeholder="************">
        </div>
        <div class="form-group">
            <label for="settingsUserLocation">Location</label>
            <input type="text" name="name" class="form-control" id="settingsUserLocation" placeholder="Slovakia">
        </div>
        <div class="form-group">
            <label for="settingsUserWebsite">Website</label>
            <input type="text" name="name" class="form-control" id="settingsUserWebsite" placeholder="Sample.com">
        </div>
        <div class="form-group">
            <label for="settingsUserAbout">About</label>
            <textarea name="" placeholder="Few words about you" class="form-control" id="settingsUserAbout"></textarea>
        </div>
        <div class="form-group">
            <label for="settingsUserAbout">Notify me via Email</label>
            <div class="checkbox-group">
                <input type="checkbox" id="settingsCheckBox01" name="checkbox">
                <label for="settingsCheckBox01">
                    <span class="check"></span>
                    <span class="box"></span>
                    <span class="tt-text">When someone replies to my thread</span>
                </label>
            </div>
            <div class="checkbox-group">
                <input type="checkbox" id="settingsCheckBox02" name="checkbox">
                <label for="settingsCheckBox02">
                    <span class="check"></span>
                    <span class="box"></span>
                    <span class="tt-text">When someone likes my thread or reply</span>
                </label>
            </div>
            <div class="checkbox-group">
                <input type="checkbox" id="settingsCheckBox03" name="checkbox">
                <label for="settingsCheckBox03">
                    <span class="check"></span>
                    <span class="box"></span>
                    <span class="tt-text">When someone mentions me</span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <a href="#" class="btn btn-secondary">Save</a>
        </div>
    </form>
</div>

<a href="/admin/post/new" class="tt-btn-create-topic" th:replace="home/fragment::create-topic">
    <span class="tt-icon">
        <svg>
          <use xlink:href="#icon-create_new"></use>
        </svg>
    </span>
</a>

<div class="modal fade show" id="modalAdvancedSearch" tabindex="-1" role="dialog" aria-label="myModalLabel"
     aria-modal="true" style="display: none;" th:replace="home/fragment::modal-advanced-search">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="tt-modal-advancedSearch">
                <div class="tt-modal-title">
                    <i class="pt-icon">
                        <svg>
                            <use xlink:href="#icon-advanced_search"></use>
                        </svg>
                    </i>
                    <!--                    高级搜索-->
                    搜索
                    <a class="pt-close-modal" href="#" data-dismiss="modal">
                        <svg class="icon">
                            <use xlink:href="#icon-cancel"></use>
                        </svg>
                    </a>
                </div>
                <form class="form-default" action="/">
                    <div class="form-group">
                        <i class="pt-customInputIcon">
                            <svg class="tt-icon">
                                <use xlink:href="#icon-search"></use>
                            </svg>
                        </i>
                        <input type="text" name="keywords" class="form-control pt-customInputSearch" id="searchKeywords"
                               placeholder="搜索所有文章...">
                    </div>
                    <!--                    <div class="form-group">-->
                    <!--                        <label for="searchName">发布用户</label>-->
                    <!--                        <input type="text" name="name" class="form-control" id="searchName" >-->
                    <!--                    </div>-->
                    <!--                    <div class="form-group">-->
                    <!--                        <label for="searchCateId">所属分类</label>-->
                    <!--                        <select class="form-control" id="searchCateId">-->
                    <!--                            <option>any</option>-->
                    <!--                            <option>value 01</option>-->
                    <!--                            <option>value 02</option>-->
                    <!--                            <option>value 03</option>-->
                    <!--                        </select>-->
                    <!--                    </div>-->
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary btn-block">搜索</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--/*/<th:block th:replace="home/fragment :: script">/*/-->

<!--/*/</th:block>/*/-->

</body>
</html>


